<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div layout:fragment="header">
    <h1>
        <span th:text="${FORM_OBJECT_NAME}"></span>
        <small th:if="${TITLE_NEW}"></small>
    </h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-home"></i> </a></li>
        <li class="active" th:text="${FRM}"></li>
    </ol>
</div>

<div class="container">
    <div layout:fragment="content">
        <div th:if="${message}"
             th:class="${'alert ' + alertClass + ' alert-dismissible'}">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">×
            </button>
            <h4>
                <i class="icon fa fa-info"></i>
            </h4>
            <div th:text="${message}"/>
        </div>
        <form role="form" method="post"
              th:action="@{/log/arquivo}"
              enctype="multipart/form-data">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${FRM}"></h3>

                    <div class="margin pull-right">
                        <button type="submit" class="btn btn-info" name="new"
                                data-placement="top" title="Salvar arquivo carregar arquivo, aguarde até a pagina ser carregada pois esta fazendo o salvaemnto das logs"
                                id="salvar">
                            <i class="fa fa-save"></i>
                        </button>
                        <a type="button" class="btn btn-warning" th:href="@{/log/list}"
                           data-placement="top" title="retornar">
                            <i class="fa fa-mail-reply"></i>
                        </a>
                    </div>
                </div>

                <div class="box-body">
                    <!-- Importar-->
                    <form role="form" method="post"
                          th:action="@{/log/arquivo}"
                          enctype="multipart/form-data">

                        <div class='form-group col-md-12'>
                            <label for='arquivo' class='control-label'> Selecione o arquivo, </label>
                            <input name="arquivo" type='file' class='file'
                                   data-show-upload='false' data-show-preview='true'
                                   id='arquivo' accept="text/plain">
                        </div>

                    <!-- Fim Import-->
                </div>
                <!-- /.box-body -->
                <div class="box-footer"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>